.app__header {
  display: flex;
  justify-content: center;
  object-fit: contain;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  height: 10vh;
}
.app__headerImage {
  height: 100%;
}
