.app__header {
  display: flex;
  justify-content: space-between;
  object-fit: contain;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  height: 10vh;
}
.app__headerImage {
  height: 100%;
}

.header_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
